@model Author

<h2>Edit Author</h2>

<form asp-area="Admin" asp-controller="Author" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success btn-sm">
        <i class="bi bi-pencil"></i> Save
    </button>
    <a asp-area="Admin" asp-controller="Author" asp-action="Index" class="btn btn-secondary btn-sm ms-2">Cancel</a>
</form>
