@model Genre

<h2>Create Genre</h2>

<form asp-area="Admin" asp-controller="Genre" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">
        <i class="bi bi-plus"></i> Create
    </button>
    <a asp-area="Admin" asp-controller="Genre" asp-action="Index" class="btn btn-secondary btn-sm ms-2">Cancel</a>
</form>
